@font-face {
    font-family: DmSans;
    src: url(fonts/DMSans-Regular.ttf);
}

body {
    font-family: DmSans, sans-serif;
}

.boxShadow {
    box-shadow: 16px 0 100px 7px rgba(98, 99, 107, 0.24);
}

.shadowHover:hover {
    box-shadow: 14px 14px 30px 3px #e0e0e0;
}

.grid-rows-masonry {
    grid-template-rows: masonry !important;
}